body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.header {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:space-around;
    width:400px;
    margin-bottom:30px;
    
}

.footer{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    width: 500px;
    margin-top:10px;

}
.board {
    width:500px;
    height:500px;
    display: grid;
    border: 1px solid black;
}

body > h1 {
    margin-top:20px;
}

